body{
    background-image: url('/static/images/img2.jpg');
    background-size: cover;
}
.main{
   margin-left: 550px;
   margin-top: 100px;
}
#headline{
    color:white;
    font-size:20px;
}
#email{
    width:500px;
    height:30px; 
    font-size: 18px;
}
textarea{
    margin-top: 20px;
    width:500px;
    height:300px;
    font-size: 18px;
}
#submit{
    margin-top: 20px;
    width:200px;
    height:30px;
    cursor: pointer;
    margin-left: 35px;
    background-color: green;
    color:white;
}
#reset{
    margin-top: 20px;
    width:200px;
    height:30px;
    cursor: pointer;
    margin-left: 30px;
    background-color: pink;
    color:white;
}
#back{
    color:white;
    width:200px;
    text-align: center;
    height: 30px;
    margin-left: 30px;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
}