body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col1 {
    float: left;
    width:700px;
    padding: 10px;
    background-image: url('/static/images/reading.jpg');
    background-size: cover;
    background-color: rgba(56, 173, 52, 0.459);
    
    height:710px; /* Should be removed. Only for demonstration */
   
   
  }
.col2{
    background-color:  WHITE;
    float: right;
    width:750px;
    height:730px;
    

    /* Should be removed. Only for demonstration */
  }
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .copying{
      display: inline-flex;
  }
  #text{
    background-color: green;
    color: white; 
    font-size: 18px; 
  }
  #ebid{
      margin-left: 20px;
      background-color: green;
      margin-right: 70px;
      padding-left: 20px;
      color:white;
      height:30px;
  }
  .main{
margin-left: 200px;
  }
#entry-month{
      margin-left: 53px;
      width:200px;
      height:30px;
  }
#entry-units{
    margin-left: 66px;
    width:200px;
      height:30px;
}
#entry-amount{
    margin-left: 45px;
    width:200px;
      height:30px;
}
#EB{
    margin-left: 78px;
    width:200px;
      height:30px;
    font-size: 14px;
}
#entry-payment{
    margin-left: 10px;
    width:200px;
      height:30px;
    font-size: 14px;
}
textarea{
    width:330px;
    height:100px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#submit{
    margin-top: 10px;
    width:200px;
    height:30px;
    margin-left: 70px;
    cursor: pointer;
    background-color: pink;
    color:white;
    font-size: 14px;
}
#copy-button{
    margin-top: 10px;
    width:200px;
    height: 30px;
    cursor: pointer;
}