.col1 {
    float: left;
    width:600px;
    background-color: rgba(56, 173, 52, 0.459);
    height:710px; /* Should be removed. Only for demonstration */
  }
.col2{
    background-color: white;
    float: right;
    width:900px;
    height:710px;
}
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #list-line{
    cursor: pointer;
    border-radius: 10px;
    width:400px;
    height:50px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
}
#head-lines{
    margin-left: 30px;
    color: pink;
}
div.message-lists{
    background-color: lightblue;
    width: 520px;
    height: 600px;
    overflow: auto;
    margin-left: 30px;
    margin-top: 20px;
  }
#search{
    margin-left: 40px;
    margin-top: 20px;
}
#search-field{
    width:430px;
    border-radius: 5px;
    height:40px;
   
    margin-left: 20px;
   
}
#msg-area{
  margin-left: 200px;
  width:500px;
  height:200px;
}
.default-image{
  width:880px;
  height: 565px;
  background-image: url('/static/images/messsge.jpg');
  background-size: cover;
}
.message-panel{
  background-color: beige;
  width:880px;
  height:500px;
  display: none;
}
#from{
  background-color: rgba(119, 91, 197, 0.466);
  margin-top: 10px;
  padding-top: 10px;
  height:30px;
  padding-left: 20px;
  color:white;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.reply-back{
  
  margin-top: 10px;
  margin-left: 220px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#reply{
  padding-left: 10px;
  background-color: blue;
  width:200px;
  height: 30px;
  text-align: center;
  color:white;
  padding-top: 10px;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
#back{
  margin-left: 90px;
  padding-left: 10px;
  background-color: blue;
  width:200px;
  height: 30px;
  text-align: center;
  color:white;
  padding-top: 10px;
  margin-left: 30px;
}