body{
    background-image: url('/static/images/newuser.jpg');
    background-color: rgba(116, 116, 126, 0.219);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#headline{
    background-color: blue;
    color:white;
    margin-right: 610px;
    padding-left: 20px;
    padding-top: 10px;
    height:30px;
}
.main{
    margin-top: 50px;
margin-left: 600px;
}
input{
    margin-top: 10px;
    width:300px;
    height: 30px;
}
button{
    width:200px;
    height:30px;
    cursor: pointer;
}
#submit{
    margin-top: 20px;
    width:310px;
    font-size: 14px;
    background-color: green;
    color:white;
    cursor: pointer;
}
