<!DOCTYPE html>
<html>
<head>
    <title>Reply to Ashwin | Electricity Board</title>
    <link rel="stylesheet" href="/static/style/admin interface/adminreplybox.css">
</head>
<body>
    <h3 id="back">Back</h3>
    <div class="main">
        <h2 id="headline">Reply to Ashwin</h2>
        
        <div class="reply-panel">
            <form action="" method="post">
                <input type="email" name="email" placeholder="Email" id="email">
                <textarea name="reply-msg"></textarea><br>
                <input type="submit" id="submit"><input type="reset" id="reset">
            </form>
           
        </div>
    </div>
</body>
</html>