<!DOCTYPE html>
<html>
<head>
    <title>Messages | Electricity Board</title>
    <link rel="stylesheet" href="/static/style/admin interface/admininbox.css">
    <script src="/static/script/admin interface/admininbox.js"></script>
</head>
<body>
    <div class="row">
        <div class="col1">
            <div id="search"><b>Search:</b> <input type="search" placeholder="Customer ID" id="search-field"></div>
              <div class="message-lists">
                <h3 id="list-line">5001</h3>
                <h3 id="list-line">5002</h3>
                <h3 id="list-line">Ashwin</h3>
                <h3 id="list-line">Ashwin</h3>
                <h3 id="list-line">Ashwin</h3>
                <h3 id="list-line">Ashwin</h3>
                <h3 id="list-line">Ashwin</h3>
                <h3 id="list-line">Ashwin</h3>
                <h3 id="list-line">Ashwin</h3>
                <h3 id="list-line">Ashwin</h3>
                </div>
               
            </div>
        <div class="col2">
            <h1 id="head-lines">Messages to Administrator </h1><hr>
            
            <br>
            <hr>
            <div class="lists">
               
            </div>
            
            </div>
            
        </div>
            
        
            
        </div>
    </div>
</body>
</html>