<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style/admin interface/adminlogin.css" type="text/css">
        <title>Admin Login | Electricity Board</title>
    </head>
    <body>
        <div class="head">
            <h3 id="headline"><b>Electricity Board - Tambaram | Admin Login</b></h3>
        </div>
        <div class="login-details">
            <form action="" method="POST" >
                <input type="text" placeholder="Admin ID" name="adminid" id="adminid"><br>
                <input type="password" placeholder="Admin Passcode" name="adminpass" id="adminpass"><br>
                 <input type="submit" id="submit">
            </form>
        </div>

    </body>
</html>