<!DOCTYPE html>
<html>
    <head>
        <title>Add New Customer | Electricity Board</title>
        <link rel="stylesheet" type="text/css" href="/static/style/admin interface/newcustomer.css">

    </head>
    <body>
        <div class="main">
            <h3 id="headline">Add New User</h3>
            <form action="" method="POST">
            <input type="text" id="custname" placeholder="Full Name" name="cust-name"><br>
            <input type="email" id="custemail" placeholder="Email"name="cust-email"><br>
            <input type="text" id="custebid" placeholder="Enroll New EB ID"name="cust-ebid"><br>
            <input type="text" id="custphno" placeholder="Phone Number" name="cust-phno"><br>
            <input type="text" id="custaddress" placeholder="Address"name="cust-address"><br>
            <input type="text" id="custvillage" placeholder="Village" name="cust-village"><br>
            <input type="file" id="custproof" name="cust-proof"><br>
            <button onclick="passwordgen()"  id="passgen-button">Generate Password</button><br>
            <input type="password" id="custpass" placeholder="Click the button to generate passcode" name="cust-pass"><br>
            <input type="submit" value="Register" id="submit">    
        </form>
            <h3></h3>
        </div>
    </body>
</html>