<!DOCTYPE html>
<html>
    <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/style/admin interface/proceed.css">
    </head>
     <body>
         <div class="main">
           <h2 id="headlines">Enter the Payment Details</h2>
           <hr>
           
            <form action="/proceed" method="post">
                <h3 id="eb">EB ID: <input type="text" id="EB" name="EBID"></h3>
                <h3 id="pay">Payment Date: <input type="text" name="payment"id="entry-payment"></h3>
                <textarea type="text" placeholder="Type your message here..." name="payment-msg"></textarea><br>
                <input type="submit" id="submit">
            </form>
        
         </div>
     </body>
    </html>