<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/static/style/customer interface/customerlogin.css">
    <script src="/static/script/customer interface/customerlogin.js"></script>
    <title>Customer Login Tamil Nadu Government Electricity Board</title>
    </head>
    <body>
        <div class="main">
            <h2 id="header">Electricity Board User Portal</h2>
        </div>
        <div class="login">
            <form action="" method="POST">
                <h2 id="login">Login</h2>
                <input type="text" placeholder="EB ID" name="EBID" id="EBID" required><br>
                <input type="password" placeholder="Pass code" name="passcode" id="passcode" required><br>
                <input type="submit" id="submit">

            </form>
        </div>
    </body>




        </html>