<!DOCTYPE html>
<html>
<head>
    <title>Ashwin Kumar R</title>
    <link rel="stylesheet" href="/static/style/customer interface/customermain.css">

</head>
<body>
    
    <div class="row">
        <div class="col1">
              <div class="cust-info">
                  <h3><font color="brown">EB ID -</font> 5005</h3>
                  <h3><font color="brown">Village-</font> Paraniputhur</h3>
                  <h3><font color="brown">Address-</font> 8/169 Venkateshwar Nagar</h3>
                  <h3><font color="brown">Email -</font>ashwin@gmail.com</h3>
                  <h3><font color="brown">Phone Number-</font> 7358228847</h3>
                </div>
                <div class="others">
                    <div id="help">Help</div>
                    <div id="previous-months">Previous Months Readings</div>
                    <div id="payment-history">Payment History</div><br>
                     <hr>    

                </div>
               
        </div>
        <div class="col2">
            <h1 id="head-lines">Electricity Board - Tambaram</h1><hr>
            <div class="main-details">
                <h2 id="month">Month:</h2>
                <h2 id="units">Units:</h2>
                <h2 id="amount">Amount:</h2>
                <h2 id="paymentdate">Last Date for Payment:</h2>
                <h3 id="payment">Pay now</h3>
            </div><br><br><br><br>
            <hr>
            <div class="office-info">
                <h3 id="quote">Save Energy Save Life !</h3>
                <div id="working">
                <b>Working Days:</b> Monday to Saturday<br>
                <b>Working Hours:</b> Morning - 8.00AM to 1.00PM | Evening 1.00PM - 4.00PM<br><br>
                <b>E-mail:</b> Elecricityboard@gmail.com<br>
                <b>Phone Number:</b> +91 2122145358
            </div>
            </div>
            <div class="footer">
                Copy Right @Electricity Board Portal 2021
            </div>
        </div>
    </div>
</body>
</html>